body{
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
a{
    text-decoration: none;
}
p, h1{
    margin: 0;
}
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.blob {
    display: inline-block;
    margin: 0 2px;
    position: relative;
}

.blob a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.pagination-ellipsis {
    font-size: 35px;
    color: #FAD6A5;
}
.loading {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid #ddd;
    border-top-color: orange;
    animation: loading 1s linear infinite;
    position: absolute;
    top: 61%;
    right: 32%;
    display: none;
}
@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}
.content-describes{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
