.category-page .title-link{
    margin-top: 40px;
}
.category-page .title-link span{
    font-size: 18px;
    font-weight: 500;
}
.category-page .title-link .home{
    color: #606060;
}
.category-page .title-link .product{
    color: #D23C36;
}
.category-page .list-category{
    margin-top: 30px;
}
.list-category .sub-title{
    background: url("/assets/images/activity/image.png") no-repeat center center;
    background-size: contain;
    font-size: 20px;
    font-weight: 700;
    color: #FFFBF6;
    padding: 10px 22px;
    width: max-content;
    margin-bottom: 30px;
}
.list-category .list-product-swiper .col-image{
    margin: 0 auto;
    width: 90%;
}
.list-category .product-image{
    border: 1px solid #FF6663;
    border-radius: 20px;
    padding: 10px;
}
.list-category .product-image img{
    object-fit: contain;
    width: 100%;
    height: 300px;
}
.list-category .product-describe{
    text-align: center;
}
.list-category .product-describe h5{
    font-size: 22px;
    font-weight: 600;
    color: #D23C36;
    margin-top: 20px;
}
.list-category .product-describe p{
    font-size: 18px;
    font-weight: 400;
    color: #231F20;
    margin-bottom: 15px;
}
.list-category .product-describe a{
    font-size: 14px;
    font-weight: 400;
    color: #231F20;
}
.category-page .list-category {
    position: relative;
    overflow: visible;
}
.category-page .image-bg-1::before {
    content: "";
    position: absolute;
    top: 175px;
    left: 0;
    right: 0;
    background: url(/assets/images/category/background-1.webp) no-repeat center center;
    background-size: cover;
    z-index: -1;
    height: 100%;
}
.category-page .image-bg-2 {
    background: url("/assets/images/category/background-2.webp") no-repeat center center;
    background-size: cover;
    padding: 72px 0;
    margin: 0;
}
.category-page .image-bg-3 {
    background: url('/assets/images/category/background-3.webp') no-repeat center center;
    background-size: cover;
}
@media (max-width: 992px) {
    .list-category .product-image img{
        height: 275px;
    }
}
