.footer{
    position: relative;
    z-index: 100;
    background: url("/assets/images/footer/footer-background.png") no-repeat center center;
    background-size: cover;
    margin-top: 50px;
    padding: 125px 0 80px 0;
    /*background-repeat: round;*/
}
.footer .contact-content .logo{
    margin-bottom: 25px;
}
footer .information .contact-info p{
    font-size: 16px;
    color: #000000;
}
footer .information .contact-info strong{
    color: #E6262B;
}
footer .introduction h5,
footer .product h5{
    font-size: 16px;
    font-weight: 700;
    color: #E6262B;
    margin-bottom: 0;
}
footer .introduction a,
footer .product a{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
footer .copyright-desktop{
    color: #606060;
    font-size: 16px;
    padding-top: 50px;
}
.copyright-mobile{
    display: none;
}
.footer .social-icons {
    text-align: center;
}
.footer .social-icons img {
    width: 40px;
    margin: 10px;
}
.footer .contact-content,
.footer .introduction,
.footer .product{
    margin: 0 auto;
    width: fit-content;
}
#social-icon-mobile {
    display: none;
}
.footer .introduction p a:hover,
.footer .product p a:hover{
    color: #E6262B;
}
.footer-zalo:hover img {
    content: url("/assets/images/footer/zalo-hover.png");
    border-radius: 50%;
}
.footer-tiktok:hover img {
    content: url("/assets/images/footer/tiktok-hover.png");
    border-radius: 50%;
}
.footer-facebook:hover img {
    content: url("/assets/images/footer/fb-hover.jpg");
    border-radius: 50%;
}
.footer-youtube:hover img {
    content: url("/assets/images/footer/youtube-hover.png");
    border-radius: 50%;
}
@media (max-width: 1400px) {
    .footer{
        padding: 80px 0 25px 0;
    }
}
/* Show the mobile icons and hide the desktop icons for smaller screens */
@media (max-width: 992px) {
    .footer{
        padding: 70px 0 0 0;
        background-repeat: no-repeat;
    }
    footer .information-content{
        flex-direction: column-reverse;
    }
    #social-icon-desktop {
        display: none;
    }
    #social-icon-mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 20px 0;
    }
    .footer .contact-content{
        margin-top: 20px;
    }
    .footer .copyright-desktop{
        display: none;
    }
    .copyright-mobile{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 0;
        font-weight: 400;
        color: #FFFFFF;
        background-color: #E6262B;
    }
}

@media (max-width: 450px) {
    .footer {
        background: url("/assets/images/footer/footer-background-mobile.png") no-repeat center center;
        background-size: cover;
        margin-top: 10px;
        height: 582px;
    }
}
