.header-container {
    width: 100vw;
    position: relative;
    z-index: 9999;
}

header {
    display: flex;
    width: calc(100vw - 10vw);
    height: 65px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    text-transform: uppercase;
}

header .border-side {
    position: absolute;
    top: 0;
}

header .border-side.left {
    height: 100%;
    right: 0;
}

header .border-side.right {
    height: 100%;
    left: 0;
}

header .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.93;
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.1);
}

header .nav span a {
    font-weight: 700;
    font-size: 22px;
    line-height: 38.45px;
    color: red;
}

header .nav.active {
    background-color: #fad6a5 !important;
}

header .nav.separator {
    margin: 0 1px;
    background-color: #fff;
}

header .nav.side {
    position: relative;
    width: 100px;
}

header .nav.side.left {
    border-right: 1px solid transparent;
}

header .nav.side.right {
    border-left: 1px solid transparent;
}

header .nav.small {
    width: 249.32px;
}

header .nav.medium {
    width: 285.58px;
}

header .nav.large {
    width: 374.74px;
}

header .logo {
    width: 275px;
    height: 60px;
}

header .icon {
    width: 46px;
    height: 46px;
    z-index: 10;
}
header .home-icon{
    width: 55px;
    position: relative;
    right: 15%;
    cursor: pointer;
}
header .search-icon{
    position: relative;
    left: 15%;
    cursor: pointer;
    object-fit: contain;
}
#home-icon-mobile{
    display: none;
}
.search-input {
    position: absolute;
    width: 88%;
    margin: 0 auto;
    top: 104%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    opacity: 0;
    transition: opacity 0.6s ease;
}
.search-input.search-show {
    display: block;
    opacity: 1;
}
.search-input input {
    width: 100%;
    height: 65px;
    padding: 0 20px;
    border: 1px solid wheat;
    border-radius: 35px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f5d7b3;
    color: #fff;
    outline: unset;
}
.search-input input::placeholder {
    color: #fff;
}
.btn-search-field{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    column-gap: 5px;
}
.search-button-icon{
    width: 30px;
    height: 30px;
    background-color: #D23C36;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.search-input .clear-search-button {
    width: 30px;
    height: 30px;
    background-color: #D23C36;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-input .clear-search-button::after {
    content: '×';
    color: #FAD6A5;
    font-size: 20px;
    line-height: 1;
}
.mobile-menu-item{
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    left: 7%;
    top: 70px;
    width: 86%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.1);
}
.mobile-menu-item ul{
    margin: 0;
    padding: 5px 0 0 25px;
}
.mobile-menu-item li{
    margin-top: 15px;
    list-style: none;
}
.mobile-menu-item a{
    color: #E6252B;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}
.mobile-menu-item img{
    width: 50%;
    padding-left: 15px;
    margin: 20px 0;
}
.mobile-menu-item.menu-show {
    display: block;
    max-height: 500px; /* Adjust based on the actual height needed */
}
.language-change{
    position: absolute;
    right: 20px;
    top: 105%;
}
.lang-vn{
    /*background: url("/assets/images/header/lang-vn.png") no-repeat center center;*/
    /*background-size: cover;*/
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid red;
    background: transparent;
    color: red;
}
.lang-vn a{
    font-size: 16px;
    font-weight: 500;
    color: red;
    padding: 0 10px;
}
.lang-en{
    /*background: url("/assets/images/header/lang-en.png") no-repeat center center;*/
    /*background-size: cover;*/
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid red;
    background: transparent;
}
.lang-en a{
    font-size: 16px;
    font-weight: 700;
    color: #E7252B;
    padding: 0 10px;
}
.language-change.search-language {
    top: 130%;
    right: 20px;
}

.language-change.menu-item-language {
    top: 444%;
    right: 9%;
}
.lang-item:hover{
    background: red;
}
.lang-item:hover a{
    color: white;
}
.lang-item-active{
    background: red;
}
.lang-item-active a{
    color: white;
}
header .nav.separator:hover {
    background-color: #fad6a5 !important;
}
.header .left{
    background: #fff;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    justify-content: end;
    padding-right: 7px;
    margin-right: 1.5px;
}
.header .right{
    background: #fff;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    justify-content: start;
    padding-left: 7px;
    margin-left: 1.5px;
}
header .nav:hover {
    background-color: #fad6a5 !important;
}
@media (min-width: 1855px) {
    header{
        width: calc(100vw - 14vw);
    }
}
@media (max-width: 1600px) {
    header .nav.side {
        width: 120px;
    }
    .search-input{
        width: 86%;
    }
    .language-change,.language-change.search-language{
        right: 17px;
    }
}
@media (max-width: 1400px) {
    header{
        height: 63px;
    }
    header .nav span a {
        font-size: 20px;
    }
    header .logo {
        width: 230px;
        height: 50px;
    }
    header .home-icon {
        width: 50px;
        height: 40px;
    }
    header .search-icon{
        width: 37px;
        height: 40px;
    }
    .search-input{
        width: 85%;
    }
    .search-input input{
        height: 63px;
    }
    .language-change,.language-change.search-language{
        right: 12px;
    }
}
@media (max-width: 1270px) {
    .language-change,.language-change.search-language{
        right: 10px;
    }
}
@media (max-width: 1200px) {
    header{
        height: 57px;
    }
    header .nav span a {
        font-size: 18px;
    }
    header .logo {
        width: 200px;
        height: 45px;
        padding: 0 10px;
    }
    header .home-icon {
        width: 45px;
        height: 35px;
    }
    header .search-icon {
        width: 32px;
        height: 35px;
    }
    .language-change.search-language {
        top: 126%;
        right: 7px;
    }
    .language-change {
        top: 107%;
        right: 7px;
    }
    .search-input {
        width: 85%;
    }
    .search-input input{
        height: 57px;
    }
}
@media (max-width: 1024px) {
    header{
        width: calc(100vw - 10vw);
    }
    header .nav span a {
        font-size: 16px;
    }
    .lang-vn a,.lang-en a{
        font-size: 16px;
    }
    .lang-vn,.lang-en{
        width: 30px;
        height: 30px;
    }
    .header .left{
        padding-right: 0px;
    }
    .header .right{
        padding-left: 0px;
    }
    .language-change,.language-change.search-language{
        right: 0px;
    }
}

@media (max-width: 845px) {
    .header {
        width: 100%;
        height: 60px;
        justify-content: center;
    }
    #home-icon-mobile{
        display: block;
        right: 14%;
        top: 0%;
        cursor: pointer;
    }
    #home-icon-desktop{
        display: none;
    }
    header .nav.small,
    header .nav.medium {
        display: none;
    }

    header .logo {
        width: 75%;
        height: 57px;
    }

    header .nav.large {
        width: 60%;
    }

    header .icon {
        width: 40px;
        height: 40px;
    }

    header .nav.side {
        width: 75px;
    }

    header .nav.side.left {
        justify-content: right;
    }

    header .nav.side.right {
        justify-content: left;
    }

    header .border-side {
        height: 70px;
    }

    header .border-side.left {
        right: 1px;
    }

    header .border-side.right {
        left: 1px;
    }
    .search-input {
        width: 61%;
    }
    .search-input input{
        height: 60px;
    }
    .language-change{
        right: 11.5%;
        top: 106%;
    }
    .language-change.search-language {
        top: 131%;
        right: 11.5%;
    }
    .mobile-menu-item{
        width: 75%;
        left: 50%;
        transform: translateX(-50%);
    }
    .language-change.menu-item-language {
        top: 455%;
        right: 13%;
    }
}
@media (max-width: 768px) {
    .search-input {
        left: 10%;
        transform: unset;
        width: 69%;
    }
    .language-change,.language-change.search-language {
        right: 10.4%;
    }
}
@media (max-width: 650px) {
    .language-change {
        right: 9%;
        top: 106%;
    }
    .language-change.search-language {
        top: 131%;
        right: 9%;
    }
    .language-change.menu-item-language {
        top: 447%;
    }
}
@media (max-width: 550px) {
    .header {
        height: 55px;
    }
    header .logo {
        height: 45px;
        object-fit: contain;
    }
    #home-icon-mobile{
        top: 0;
        right: 25%;
    }
    header .icon {
        width: 30px;
        height: 30px;
    }
    header .border-side.right {
        width: 70px;
        height: 55px;
        object-fit: cover;
        object-position: right;
    }
    header .border-side.left {
        width: 70px;
        height: 55px;
        object-fit: cover;
        object-position: left;
    }
    header .nav.side.left {
        padding-right: 3px;
    }

    header .nav.side.right {
        padding-left: 10px;
    }
    .search-input input{
        height: 55px;
    }
    .language-change.menu-item-language {
        top: 438%;
    }
    .search-input {
        width: 75%;
        left: 5%;
        top: 106%;
    }
    .language-change {
        top: 106%;
    }
    .language-change.search-language {
        top: 125%;
        right: 7%;
    }
    .language-change.menu-item-language {
        top: 550%;
        right: 7%;
    }
    .mobile-menu-item {
        width: 87%;
        top: 60px;
    }
    .language-change{
        right: 7%;
    }
}
@media (max-width: 475px) {
    header .logo {
        width: 100%;
    }
    .search-input {
        width: 78%;
        left: 2%;
    }
    .language-change,.language-change.search-language {
        right: 4%;
    }
}
@media (max-width: 425px) {
    .search-input {
        width: 95%;
        left: 50%;
        transform: translateX(-50%);
    }
    .language-change{
        right: 3%
    }
    .language-change.search-language {
        top: 208%;
        right: 15px;
    }
    .language-change.menu-item-language {
        top: 542%;
    }
}
@media (max-width: 400px) {
    .language-change{
        right: 2%;
    }
}
